In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset("iris")

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [10]:
df["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [11]:
names = ["Tushar" , "Gsnesh", "Rohan"]

In [13]:
ages = [25 ,12,93]

In [14]:
d = {
    "name" : names,
    "age" : ages
}

In [15]:
d

{'name': ['Tushar', 'Gsnesh', 'Rohan'], 'age': [25, 12, 93]}

In [16]:
pd.DataFrame(d)

     name  age
0  Tushar   25
1  Gsnesh   12
2   Rohan   93

In [17]:
import numpy as np

In [18]:
data = np.random.randint(10,20,(10,5))

In [19]:
data

array([[16, 16, 17, 17, 19],
       [16, 11, 12, 14, 18],
       [17, 16, 15, 12, 18],
       [18, 16, 16, 12, 10],
       [15, 11, 16, 17, 14],
       [17, 19, 14, 18, 16],
       [13, 16, 13, 18, 16],
       [12, 17, 12, 16, 10],
       [12, 15, 17, 10, 13],
       [10, 17, 16, 14, 12]])

In [38]:
marks =pd.DataFrame(data, columns =["p","e","i","t","b"])

In [39]:
marks["bio"] =0

In [40]:
marks

    p   e   i   t   b  bio
0  16  16  17  17  19    0
1  16  11  12  14  18    0
2  17  16  15  12  18    0
3  18  16  16  12  10    0
4  15  11  16  17  14    0
5  17  19  14  18  16    0
6  13  16  13  18  16    0
7  12  17  12  16  10    0
8  12  15  17  10  13    0
9  10  17  16  14  12    0

In [41]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal_length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal_width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal_length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal_width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

In [42]:
# here we can do sorting 
# df.sort_index?

In [45]:
# df.sort_index(axis=1)
marks.sort_index(axis=1)
# one dimensional sort

    b  bio   e   i   p   t
0  19    0  16  17  16  17
1  18    0  11  12  16  14
2  18    0  16  15  17  12
3  10    0  16  16  18  12
4  14    0  11  16  15  17
5  16    0  19  14  17  18
6  16    0  16  13  13  18
7  10    0  17  12  12  16
8  13    0  15  17  12  10
9  12    0  17  16  10  14

In [48]:
marks.sort_values(["e"])

    p   e   i   t   b  bio
1  16  11  12  14  18    0
4  15  11  16  17  14    0
8  12  15  17  10  13    0
0  16  16  17  17  19    0
2  17  16  15  12  18    0
3  18  16  16  12  10    0
6  13  16  13  18  16    0
7  12  17  12  16  10    0
9  10  17  16  14  12    0
5  17  19  14  18  16    0

In [57]:
marks.iloc[:5,2:]

    i   t   b  bio
0  17  17  19    0
1  12  14  18    0
2  15  12  18    0
3  16  12  10    0
4  16  17  14    0

In [60]:
marks.iloc[0:10:2]
# here 0 to 10 in the jump of 2.

    p   e   i   t   b  bio
0  16  16  17  17  19    0
2  17  16  15  12  18    0
4  15  11  16  17  14    0
6  13  16  13  18  16    0
8  12  15  17  10  13    0